<!-- サイドバー -->
<aside class="sidebar">
  <div class="sidebar-top">
    <img src="/PavillionOfStories/images/assets/sidebar_top.jpg" alt="sidebar top">
  </div>

  <div class="sidebar-menu">
    <ul>
      <li><a href="index.html" class="sidebar-link">TOP</a></li>
      <li><a href="illustrations.html" class="sidebar-link">ILLUST</a></li>
      <li><a href="comics/index.html" class="sidebar-link">COMICS</a></li>
      <li><a href="shop/index.html" class="sidebar-link">SHOP</a></li>
    </ul>
  </div>

  <div class="sidebar-bottom">
    <img src="/PavillionOfStories/images/assets/sidebar_bottom.jpg" alt="sidebar bottom">
  </div>
</aside>

